@namespace CityExplorer.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Components.Layouts.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(Components.Layouts.MainLayout)">
            <h1>Not found</h1>
            <p class="muted">Try <a href="/countries">Countries</a>.</p>
        </LayoutView>
    </NotFound>
</Router>

<HeadOutlet />
<script src="/js/theme.js?v=3"></script>
<script src="_framework/blazor.web.js"></script>